server {
	listen 443 ssl;
	server_name ${HOSTNAME};

	ssl_certificate /etc/nginx/certs/cert.pem;
	ssl_certificate_key /etc/nginx/certs/cert.key;

	location / {
		include ./conf.d/proxy_headers.conf;
		proxy_pass http://host.containers.internal:${FRONTEND_PORT};
	}

	location /${BACKEND_URI} {
		include ./conf.d/proxy_headers.conf;
		proxy_pass http://host.containers.internal:${BACKEND_PORT};
	}
}
