server {
	listen 443 ssl;
	server_name ${HOSTNAME};

	include ./conf.d/proxy_headers.conf;

	ssl_certificate /etc/nginx/certs/cert.pem;
	ssl_certificate_key /etc/nginx/certs/cert.key;

	${LOCATION_BLOCKS}
}
